body{
background: linear-gradient(to right, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);  color: white;
}
nav img {
  width: 30%;
}
.movie-poster, .theater {
  width: 100%;
}
.container{
  overflow: hidden;
  width: 98vw;
  padding: 0;
  max-width: 1800px;
}
nav{
  margin-bottom: 3vh;
}
.navbar{
padding: 3vw;
}
.left-row{
  border: solid black 1px;
  padding: 1vw;
}
.showtimes{
  border-right: 1px solid black;
}
.buy-tickets{
  border: 1px solid black;
  padding: 1vw;
  text-align: center;
  background-color: #292b2c;
}
.left-bottom{
  padding: 3vh;
  border-bottom: solid black 1px;
}
.link {
padding-top: 5%;
}

@media screen and (min-width:1800px) {
  .container {
    max-width: 1800px;
  }
}
